In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
crime_df = pd.read_csv('./Crime Rate 2.csv')

In [3]:
crime_df.isna()

,Incident,RMSOccurrenceDate,RMSOccurrenceHour,NIBRSClass,NIBRSDescription,OffenseCount,Beat,Premise,StreetNo,StreetName,StreetType,Suffix,City,ZIPCode,MapLongitude,MapLatitude
0,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210272,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True
210273,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True
210274,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True
210275,False,False,False,False,False,False,True,False,False,False,False,True,False,True,False,False
210276,False,False,False,False,False,False,True,False,False,False,False,True,False,True,True,True

In [4]:
# Grouping the data by 'ZIPCode' and summing up the 'OffenseCount' for each group

offense_counts_by_zip = crime_df.groupby('ZIPCode')['OffenseCount'].sum().reset_index()

# Sorting the results by 'OffenseCount' in descending order to see the zip codes with the most offenses first

# offense_counts_by_zip = offense_counts_by_zip.sort_values(by='OffenseCount', ascending=False)

# Sort by zip codes
offense_counts_by_zip = offense_counts_by_zip.sort_values(by='ZIPCode')
                                            
# Removing offense counts with less than 10
offense_counts_by_zip_filtered = offense_counts_by_zip[offense_counts_by_zip['OffenseCount'] >= 10]

offense_counts_by_zip_filtered.head(20)

   ZIPCode  OffenseCount
12   77002          5212
13   77003          2406
14   77004          4853
15   77005           691
16   77006          2967
17   77007          4669
18   77008          3032
19   77009          3204
20   77010           328
21   77011          1488
22   77012          1391
23   77013          2002
24   77014           192
25   77015          1441
26   77016          3599
27   77017          2818
28   77018          2026
30   77019          2500
31   77020          2410
32   77021          4487